.dashed {
    border: 1px solid red;
}

.provs-text {
    text-align: center !important;
    border: 1px solid red;
}

.home-container {
    background-image: url("../src/assets/bg-home.png");
    background-repeat: no-repeat;
    background-size: auto 100vh;
    
    background-position: right;
    
}